.footer {
  padding-bottom: 232px;

  .footer__top-block {
    margin-bottom: 48px;
    padding: 55px 0 0 24px;
    display: flex;
    justify-content: space-between;

    border-top: 1px solid #b9b9b9;
  }

  .footer__top-block-list {

    .footer__top-block-item {

      &:nth-of-type(1) {
        margin-bottom: 35px;

        .footer__top-block-link {
          color: #434343;
          font-size: 25px;
          text-transform: uppercase;
        }
      }
    }

    .footer__top-block-text {
      margin-bottom: 19px;

      font-weight: 400;
      line-height: 30px;
      color: #434343;
      font-size: 25px;
      text-transform: uppercase;
    }

    .footer__top-socials {
      display: flex;

      .footer__top-socials-item {
        margin-right: 10px;

        &:nth-of-type(1) {
          background-color: #f8bc2e;

          .footer__top-socials-link {
            &::before {
              top: calc((100% - 24px) / 2);
              left: calc((100% - 24px) / 2);

              width: 24px;
              height: 24px;

              background-image: url("../img/svg/rss-icon.svg");
            }
          }
        }

        &:nth-of-type(2) {
          background-color: #39599f;

          .footer__top-socials-link {
            &::before {
              top: calc((100% - 27px) / 2);
              left: calc((100% - 13px) / 2);

              width: 13px;
              height: 27px;

              background-image: url("../img/svg/fb-icon.svg");
            }
          }
        }

        &:nth-of-type(3) {
          background-color: #45b0e3;

          .footer__top-socials-link {
            &::before {
              top: calc((100% - 24px) / 2);
              left: calc((100% - 32px) / 2);

              width: 32px;
              height: 24px;

              background-image: url("../img/svg/tw-icon.svg");
            }
          }
        }

        &:nth-of-type(4) {
          border: 1px solid #dbdbdb;
          background-color: #ffffff;

          .footer__top-socials-link {
            &::before {
              top: calc((100% - 14px) / 2);
              left: calc((100% - 30px) / 2);

              width: 30px;
              height: 14px;

              background-image: url("../img/fl-icon.png");
            }
          }
        }

        &:last-child {
          margin-right: 0;

          background-color: #1872bf;

          .footer__top-socials-link {
            &::before {
              top: calc((100% - 23px) / 2);
              left: calc((100% - 15px) / 2);

              width: 15px;
              height: 23px;

              background-image: url("../img/svg/gl-icon.svg");
            }
          }
        }
      }

      .footer__top-socials-link {
        position: relative;

        width: 55px;
        height: 54px;
        display: block;

        &::before {
          content: "";
          position: absolute;

          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }

    .footer__top-block-link {
      color: #676767;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-decoration: none;
    }
  }

  .footer__top-block-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;

    .footer__top-block-form-input {
      width: 377px;
      height: 71px;

      opacity: 1;

      color: #434343;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;

      border: 1px solid #dedede;
      background-color: #ffffff;
    }

    .footer__top-block-form-button {
      max-width: 377px;
      padding: 20px 0 21px;

      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;

      background-color: #05aecc;
    }
  }

  .footer__bottom-block {
    display: flex;
    justify-content: space-between;
    padding: 27px 9px 25px 24px;

    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;

    .footer__bottom-block-text {
      color: #434343;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
    }

    .footer__bottom-block-link {
      color: #f0626e;
      text-decoration: none;
    }
  }
}
